<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<title>JUKAYKAYATBP</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css"/>

	<!-- Styles -->
	<link rel="stylesheet" href="{% static "js/owl-carousel/owl.carousel.css" %}"/>
	<link rel="stylesheet" href="{% static "js/owl-carousel/owl.theme.css" %}"/>
	<link rel="stylesheet" href="{% static "js/owl-carousel/owl.transitions.css" %}"/>
	<link rel="stylesheet" href="{% static "js/rs-plugin/css/settings.css" %}"/>
	<link rel="stylesheet" href="{% static "js/flexslider/flexslider.css" %}"/>
	<link rel="stylesheet" href="{% static "js/isotope/isotope.css" %}"/>
	<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}"/>
	<link rel="stylesheet" href="{% static "js/magnific-popup/magnific-popup.css" %}"/>
	<link rel="stylesheet" href="{% static "css/style.css" %}"/>

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800' rel='stylesheet' type='text/css'>

	<!-- Icon Fonts -->
	<link rel="stylesheet" href="{% static "css/icomoon/style.css" type="text/css" %}"/>
	<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" type="text/css" %}"/>

	<!-- SKIN -->
	<link rel="stylesheet" href="{% static "css/color-scheme/default-black.css" type="text/css" %}"/>


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
           <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.2/jquery.xdomainrequest.min.js"></script>
	<![endif]-->

</head>
<body id="header6">
<div id="page-top"></div>
<div class="outer-wrapper">
	<div class="header-wrap">

		<!-- HEADER -->
		<header id="header-main">
		<div class="container">
			<div class="navbar yamm navbar-default">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand"><img src="{% static "images/basic/jky.png" %}" width="40"  alt=""/></a>
				</div>

				<!-- SEARCH -->
				<div class="header-x pull-right">
					<div class="s-search">
						<div class="ss-trigger"><i class="icon-search2"></i></div>
						<div class="ss-content">
							<span class="ss-close icon-cross2"></span>
							<div class="ssc-inner">
								<form>
									<input type="text" placeholder="Type Search text here...">
									<button type="submit"><i class="icon-search2"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
						<li class="page-scroll"><a href="#page-top">Home</a></li>
						<li class="page-scroll"><a href="#8">About Us</a></li>
						<li class="page-scroll"><a href="#2">Services</a></li>


						<li class="page-scroll"><a href="#6">Products</a></li>

						<li class="page-scroll"><a href="#7">Contact</a></li>
						<li class="page-scroll"><a href="/base_app/register">Sign-up</a></li>
						<li class="page-scroll"><a href="/base_app/user_login">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	</div>

	<!-- SLIDER -->
	<div class="slider-wrap">
		<div class="tp-banner-container">
			<div class="tp-banner" >
				<ul>
					<li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on"  data-title="Ken Burns Slide">
						<!-- MAIN IMAGE -->
						<img src="{% static "images/dummy.png" %}"  alt="2" data-lazyload="{% static "images/slider/1/a2.jpg" %}" data-bgposition="right top" data-kenburns="off" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">


					</li>

					<!-- SLIDE  -->
										<li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on"  data-title="Ken Burns Slide">
						<!-- MAIN IMAGE -->
						<img src="{% static "images/dummy.png" %}" alt="2" data-lazyload="{% static "images/a2.jpg" %}" data-bgposition="right top" data-kenburns="off" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">

				<div class="tp-bannertimer"></div>
			</div>
		</div>
	</div>

	<!-- INNER CONTENT -->

		<div class="clearfix"></div>
		<div class="padding80 border-top">
			<div class="container" id="2">
			<div class="col-md-8 col-md-offset-2 text-center space50">
				<h2>Our Services</h2>
				</div>
    <section id="services">
      <div class="container">
        <div class="row">
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
              <h3>Affordable</h3>
              <p class="text-muted">Trendy Clothing at Super Low Prices</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
              <h3>Ready to Ship</h3>
              <p class="text-muted">Maximum 3 days of delivery!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
              <h3>Up to Date</h3>
              <p class="text-muted">We update latest trends and fashion to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
              <h3>Made with Love</h3>
              <p class="text-muted">All sorts of different trends to suit anyone’s personal sense of style!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

	<div class="border-top"></div>

			<div class="container home-blog padding80">
			<div class="text-center space40" id="6">
				<h2 class="title uppercase">Latest Product</h2>
			</div>
			<div class="row">
				<ul class="shop-grid">
						<li>
							<div class="product">
								<div class="text-center">
									<div class="product-thumbnail">
										<img src="{% static "images/shop/1.jpg" %}" class="img-responsive" alt="">
										<div class="product-overlay">
								<!--			<a class="product-overlay-link" href="#"><i class="fa fa-search-plus"></i></a>
											<a class="product-overlay-cart" href="#"><i class="fa fa-cart-plus"></i></a> -->
										</div>
									</div>
									<h3 class="product-title"><a href="#">Dress</a></h3>
									<span class="product-price">P280</span>
									<a href="/base_app/user_login" class="button btn-md btn-radius btn-center color2 btn-radius add_to_cart_button">Add to cart</a>
								</div>
							</div>
						</li>
						<li>
							<div class="product">
								<span class="badge blue"><span>50%</span><br>Off</span>
								<div class="text-center">
									<div class="product-thumbnail">
										<img src="{% static "images/shop/2.jpg" %}" class="img-responsive" alt="">
										<div class="product-overlay">
											<!--<a class="product-overlay-link" href="#"><i class="fa fa-search-plus"></i></a>
											<a class="product-overlay-cart" href="#"><i class="fa fa-cart-plus"></i></a>-->
										</div>
									</div>
									<h3 class="product-title"><a href="#">FLORAL DRESS</a></h3>
									<span class="product-price">P200</span>
									<a href="/base_app/user_login" class="button btn-md btn-radius btn-center color2 btn-radius add_to_cart_button">Add to cart</a>
								</div>
							</div>
						</li>
						<li>
							<div class="product">
								<div class="text-center">
									<div class="product-thumbnail">
										<img src="{% static "images/shop/3.jpg" %}" class="img-responsive" alt="">
										<div class="product-overlay">
											<!--<a class="product-overlay-link" href="#"><i class="fa fa-search-plus"></i></a>
											<a class="product-overlay-cart" href="#"><i class="fa fa-cart-plus"></i></a>-->
										</div>
									</div>
									<h3 class="product-title"><a href="#">BLOUSE</a></h3>
									<span class="product-price">P280	</span>
									<a href="/base_app/user_login" class="button btn-md btn-radius btn-center color2 btn-radius add_to_cart_button">Add to cart</a>
								</div>
							</div>
						</li>


					</ul></div>
		</div>


				<div class="space80"></div>

				<div class="border-top"></div>
	<div class="container-fluid no-padding" id="7">
	<div>
			<div class="text-center">
				<h2 class="title uppercase">Contact Us</h2>
			</div>
						<div class="space40"></div>

		<div class="col-md-6 full-contact">


					<div class="space50"></div>
					<h3 class="no-margin">Contact info</h3>
					<div class="space20"></div>
					<ul class="contact-info">
						<li>
							<p><strong><i class="fa fa-map-marker"></i> Address:</strong> One Legarda, Legarda St, Quiapo, Manila, 1001 Metro Manila</p>
						</li>
						<li>
							<p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">jukaykayatbp@gmail.com</a></p>
						</li>
						<li>
							<p><strong><i class="fa fa-phone"></i> Phone:</strong> 0906 433 5280</p>
						</li>

					</ul>

		</div>
		<div class="col-md-6 no-padding">

      <img src="{% static "images/place.JPG" %}" class="img-responsive" alt=""/>
		</div>
	</div>

	</div>


		</div>


	<!-- FOOTER -->
	<footer id="8">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h4 class="space30">About us</h4>
			    <img src="{% static "images/basic/jky.png" %}" class="img-responsive space20" width="262" alt=""/>
					<p>Jukaykayatbp. is named after the nickname of the owner which is Roan Kamille “Jukay” Tolentino who also happens to have four branches in Metro Manila and 6 provincial branches, most of which are owned branches and some of which are showrooms</p>
					<p>Jukaykayatbp was originally just a startup online shop, but the overwhelming customer feedback has given birth to physical stores, as well. In fact, the demand for its products is so high that in just a few years, it has already expanded to branches.</p>
				</div>
				<div class="col-md-3">
					<h4 class="space30">Branches</h4>
			  <ul class="f-posts">
						<li>
							<img src="{% static "images/blog/1.jpg" %}" class="img-responsive" alt=""/>
							<h5><a href="#">Holler Mall</h5>
							<p>866 Ocampo St, Malate, Manila, 1004 Metro Manila</p>
						</li>
						<li>
							<img src="{% static "images/blog/2.jpg" %}" class="img-responsive" alt=""/>
							<h5><a href="#">The Pink Gossip Boutique</a></h5>
							<p>One Legarda, Legarda St, Quiapo, Manila, 1001 Metro Manila</p>
						</li>
						<li>
							<img src="{% static "images/blog/3.jpg" %}" class="img-responsive" alt=""/>
							<h5><a href="#">Alabang Town Center</a></h5>
							<p>Alabang Town Center, Theater Drive, Muntinlupa, 1780</p>
						</li>
						<li>
							<img src="{% static "images/blog/4.jpg" %}" class="img-responsive" alt=""/>
							<h5><a href="#">Jukaykay Atbp.</a></h5>
							<p>Calamba, Laguna</p>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4 class="space30">Contact</h4>
			  <ul class="c-info">
						<li><i class="fa fa-map-marker"></i> 866 Ocampo St,<br>Quiapo, Manila,<br> 1004 Metro Manila
						</li>
						<li>
						</li>
						<li><i class="fa fa-phone"></i> (012) 453 3553</li>
						<li><i class="fa fa-envelope-o"></i> jukaykay@gmail.com</li>
						<li><i class="fa fa-skype"></i> jukaykayatbp</li>
					</ul>
					<div class="clearfix space10"></div>
				<!--</div>
				<div class="col-md-3">
					<h4 class="space30">Flickr</h4>
				  <ul id="flickr" class="thumbs"></ul>
				</div>
			</div>
		</div>-->
	</footer>

	<!-- FOOTER COPYRIGHT -->
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<!--<div class="col-md-8">
					<p>&copy; Copyright 2015. Maxima. Designed by <a href="http://www.ckthemes.com" target="_blank"> CK Themes</a></p>
				</div> -->
				<div class="col-md-4">
					<div class="f-social pull-right">
						<a class="fa fa-facebook" href="https://www.facebook.com/jukaykaystore/"></a>
						<a class="fa fa-instagram" href="https://www.instagram.com/jukaykay/"></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- STYLE SWITCHER
============================================= -->
<div class="b-settings-panel">
	<div class="settings-section">
		<span>
		Boxed
		</span>
		<div class="b-switch">
			<div class="switch-handle"></div>
		</div>
		<span>
		Wide
		</span>
	</div>
	<!--<hr class="dashed" style="margin: 15px 0px;">
	<h5>Main Background</h5>
	<div class="settings-section bg-list">
		<div class="bg-pattern1"></div>
		<div class="bg-pattern2"></div>
		<div class="bg-pattern6"></div>
		<div class="bg-pattern10"></div>
		<div class="bg-pattern16"></div>
		<div class="bg-pattern4"></div>
		<div class="bg-pattern5"></div>
		<div class="bg-pattern7"></div>
		<div class="bg-pattern9"></div>
		<div class="bg-pattern11"></div>
		<div class="bg-pattern12"></div>
		<div class="bg-pattern13"></div>
		<div class="bg-pattern17"></div>
		<div class="bg-pattern8"></div>
		<div class="bg-pattern14"></div>
		<div class="bg-pattern15"></div>
		<div class="bg-pattern3"></div>
		<div class="bg-pattern18"></div>
	</div>
	<hr class="dashed" style="margin: 15px 0px;">
	<h5>Color Scheme</h5>
	<div class="settings-section color-list">
		<div data-src="{% static "css/color-scheme/moderate-green.css" %}" style="background: #8ec249"/></div>
		<div data-src="{% static "css/color-scheme/vivid-blue.css" %}" style="background: #228dff"/></div>
		<div data-src="{% static "css/color-scheme/orange.css" %}" style="background: #fa6900"/></div>
		<div data-src="{% static "css/color-scheme/yellow.css" %}" style="background: #fabe28"/></div>
    <div data-src="{% static "css/color-scheme/brown.css" %}" style="background: #a68c69"/></div>
		<div data-src="{% static "css/color-scheme/violet.css" %}" style="background: #ba01ff"/></div>
		<div data-src="{% static "css/color-scheme/strong-cyan.css" %}" style="background: #00b9bd"/></div>
		<div data-src="{% static "css/color-scheme/soft-cyan.css" %}" style="background: #4bd5ea"/></div>
		<div data-src="{% static "css/color-scheme/red.css" %}" style="background: #ff0104"/></div>
		<div data-src="{% static "css/color-scheme/lite-brown.css" %}" style="background: #f3a76d"/></div>
		<div data-src="{% static "css/color-scheme/lime-green.css" %}" style="background: #3bdbad"/></div>
		<div data-src="{% static "css/color-scheme/light-voilet.css" %}" style="background: #aaa5ff"/></div>
		<div data-src="{% static "css/color-scheme/gray-green.css" %}" style="background: #697060"/></div>
		<div data-src="{% static "css/color-scheme/gray-cyan.css" %}" style="background: #aeced2"/></div>
		<div data-src="{% static "css/color-scheme/de-green.css" %}" style="background: #b6cd71"/></div>
		<div data-src="{% static "css/color-scheme/cream.css" %}" style="background: #e0d6b2"/></div>

	</div>
	<div class="btn-settings"></div>
</div>
<!-- END STYLE SWITCHER
============================================= -->

<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"/></script>

<!-- Plugins -->
<script src="{% static "js/bootstrap.min.js" %}"/></script>
<script src="{% static "js/menu.js" %}"/></script>
<script src="{% static "js/owl-carousel/owl.carousel.min.js" %}"/></script>
<script src="{% static "js/rs-plugin/js/jquery.themepunch.tools.min.js" %}"/></script>
<script src="{% static "js/rs-plugin/js/jquery.themepunch.revolution.min.js" %}"/></script>
<script src="{% static "js/jquery.easing.min.js" %}"/></script>
<script src="{% static "js/isotope/isotope.pkgd.js" %}"/></script>
<script src="{% static "js/jflickrfeed.min.js" %}"/></script>
<script src="{% static "js/tweecool.js" %}"/></script>
<script src="{% static "js/flexslider/jquery.flexslider.js" %}"/></script>
<script src="{% static "js/easypie/jquery.easypiechart.min.js" %}"/></script>
<script src="{% static "js/jquery-ui.js" %}"/></script>
<script src="{% static "js/jquery.appear.js" %}"/></script>
<script src="{% static "js/jquery.inview.js" %}"/></script>
<script src="{% static "js/jquery.countdown.min.js" %}"/></script>
<script src="{% static "js/jquery.sticky.js" %}"/></script>
<script src="{% static "js/magnific-popup/jquery.magnific-popup.min.js" %}"/></script>
<script src="{% static "js/jquery.easing/jquery.easing.js" %}"/></script>

<script src="{% static "js/main.js" %}"/></script>

<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{% static "js/gmaps/greyscale.js" %}"/></script>-->

</body>
</html>
