{% extends "base_app/base.html" %}
{% block body_block %}
<body id="header6">
<div id="page-top"></div>
<div class="outer-wrapper">
  <div class="header-wrap">

    <!-- HEADER -->
    <header id="header-main">
    <div class="container">
      <div class="navbar yamm navbar-default">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          </div>

        <div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
						<li class="page-scroll"><a href="/base_app/home">Home</a></li>
						<li class="page-scroll"><a href="/base_app/register">Sign-up</a></li>
						<li class="page-scroll"><a href="/base_app/user_login">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	</div>
    <div class="container" id="signup">
  {% if registered %}
    <h1>Thank you for reg</h1>
  {% else %}
   <h1>Register here!</h1>
   <h3>Fill out the form:</h3>

    <form enctype="multipart/form-data" method="POST" >
  {% csrf_token %}
       {% include "base_app/formstemplate.html" %}
       {{ user_form.as_p }}
       {{ profile_form.as_p }}
       <input type="submit" name="" value="Register" id="k">
     </form>
    {% endif %}
  </div>
  </body>
  {% endblock %}
